<div class="concert-hall-list" style="text-align: center;">
    <h3>Create a new Concert Hall</h3>
    <div>
        <input #name placeholder="Concert Hall Name" style="margin-left: 1%;" />
        <input #location placeholder="Location" style="margin-left: 1%;" />
        <input #date type="date" placeholder="date" style="margin-left: 1%;" />
    </div>
    <button (click)="createConcertHall(name.value, location.value, date.value)" style="margin-top: 2%;">Create</button>
</div>

<div class="concert-hall-list">
    <h2>Concert Halls</h2>
    <ul>
        <li *ngIf="concertHalls.length === 0">No Concert Halls Available</li>

        <li *ngFor="let hall of concertHalls">
            <div>
                <span>{{ hall.name }} - {{ hall.location }} &nbsp;&nbsp;&nbsp;{{ hall.date }} </span>
                <button (click)="editConcertHall(hall)">Edit</button>
                <button (click)="deleteConcertHall(hall.id)">Delete</button>
            </div>
        </li>
    </ul>

    <div *ngIf="selectedConcertHall">
        <h3>Edit Concert Hall</h3>
        <form (ngSubmit)="updateConcertHall()">
            <input [(ngModel)]="selectedConcertHall.name" name="name" placeholder="Name" required />
            <input [(ngModel)]="selectedConcertHall.location" name="location" placeholder="Location" required />
            <input [(ngModel)]="selectedConcertHall.date" name="date" placeholder="Date" required />
            <button type="submit">Update</button>
        </form>
    </div>
</div>